@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    text-decoration: none;
    --font-color-black: #303133;
    --font-color-white: #FFFFFF;
    --font-color-lilas: #6442FF;
    --font-color-cinza: #777777;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 2.1875rem;
    padding-bottom: 2.25rem;
}

h2 {
    font-size: 2.1875rem;
    padding-bottom: 1.75rem;
}

h3 {
    padding-bottom: 1.75rem;
}

p {
    font-size: 1.125rem;
}

a {
    color: inherit;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

img {
    width: 100%;
    height: 100%;
}

/* Estrutura */

.content {
    padding-top: 4rem;
    margin-left: 2.375rem;
    margin-right: 2.375rem;
}

.box-section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.box-color-black {
    margin-left: -2.375rem;
    margin-right: -2.375rem;
    padding-left: 2.375rem;
    padding-right: 2.375rem;
    color: white;
    background-color: var(--font-color-black);

}

.box-color-footer {
    background-color: #141618;
}

.box-color-gradient {
    margin-left: -2.375rem;
    margin-right: -2.375rem;
    padding-left: 2.375rem;
    padding-right: 2.375rem;
    color: white;
    background: linear-gradient(90.2deg, #7C00FC 0.16%, #4900E9 99.02%);
}

/* MENU */

.title-menu{
    font-family: 'Jost', sans-serif;
    font-size: 2.1875rem;
    font-weight: 500;
}

.ponto-title{
    color: #6A00F6;
}

#header{
    position: fixed;
    z-index: 100;
    background-color: #FFFFFF;
    width: 100%;
}

#header.scroll {
    border-bottom: 1px solid rgba(234,234,234,1);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.625rem 2.375rem;
    align-items: center;
    ul li {
        text-align: center;
    }
}

.menu-hamburger:hover {
    cursor: pointer;

}

nav .menu-x {
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 2.375rem;

}

nav .menu-x.show {
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-mobile.show {
    opacity: 1;
    visibility: visible;
}


.menu-mobile {
    transition: 0.2s;
    font-family: 'Jost', sans-serif;
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #1B1D1F;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    place-content: center;
}

.menu {
    display: grid;
    gap: 2rem;
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #FFFFFF;
    }
}

/* HOME */

.p-negocios-home {
    font-size: 0.75rem;
    color: var(--font-color-lilas);
    padding-bottom: 1rem;
}

/* SERVIÇOS */

.box-content-servicos-1 {
    display: grid;
}

.box-servicos-1 {
    padding: 2.625rem 2rem 2.625rem 2rem;
    color: white;

    &:nth-child(1) {
        background-color: #6A00F6;
    }

    ;

    &:nth-child(2) {
        background-color: #5403D1;
    }

    ;

    &:nth-child(3) {
        background-color: #4006AD;
    }

    ;
}

.servicos-1 {
    .material-icons {
        font-size: 3rem;
    }
}

.p-title-servicos-1 {
    font-size: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box-servicos-2 {
    color: --font-color-black;
    background-color: F7F7F7;

    &:nth-child(1) {
        margin-left: -2.375rem;
        margin-right: -2.375rem;
        padding-left: 2.375rem;
        padding-right: 2.375rem;
        background-color: #F7F7F7;
    }

    ;

    &:nth-child(3) {
        margin-left: -2.375rem;
        margin-right: -2.375rem;
        padding-left: 2.375rem;
        padding-right: 2.375rem;
        background-color: #F7F7F7;
    }

    ;

    img {
        padding-bottom: 2.25rem;
    }
}

/* PORTFOLIO */

#portfolio {
    text-align: center;
}

.img-partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    img {
        width: 50%;
        padding-top: 2rem;
    }
}

.img-description-portfolio {
    padding-top: 2.625rem;
    padding-bottom: 2.25rem;
}

.p-title-portfolio {
    padding-bottom: 3.25rem;
}

.p-description-portfolio {
    font-weight: 500;
}

/* SOBRE */

#sobre {
    h2 {
        text-align: center;
    }
}

.grid-equipe {
    display: grid;
    row-gap: 3rem;
}

.p-description-sobre {
    font-weight: 300;
}

.img-equipe {
    padding-bottom: 2.25rem;
}

.p-name-equipe {
    font-weight: 500;
}

.p-description-equipe {
    padding-top: 1rem;
    font-weight: 300;
}

/* CONTATO */

#contato {
    text-align: center;

    h2 {
        font-weight: 500;
    }

}

.buttom-contato {
    background-color: #FFFFFF;
    color: var(--font-color-black);
    font-weight: 500;
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid #FFFFFF;

    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--font-color-white);
    }
}

.p-subtitle-contato {
    font-weight: 600;
}

/* footer */

.footer {
    font-family: 'Jost', sans-serif;
    p {
        font-size: 1rem;
    }
}

#linha {
    border-top: 1px solid #303133;
    border-bottom: 1px solid #303133;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    .p-subtitle-footer {
        padding-bottom: 1rem;
        color: #777777;
        font-weight: 500;
    }

    .p-subtitle-email-footer {
        font-size: 0.75rem;
        padding-bottom: 1.125rem;
        color: #777777;
        font-weight: 500;
    }

    a {
        color: #6442FF;
    }

}

.p-copyright-footer {
    padding-bottom: 2rem;
}